html, body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    letter-spacing: -3%;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Header */
header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0 3.125rem; 
    height: 5.25rem;
    box-sizing: border-box; 
    z-index: 1000;
}

header .logo {
    height: 4rem;
    width: auto;
}

/* Navigation styles */
header .nav {
    display: flex;
    justify-content: center;
    margin-left: 3.125rem;
}

header .nav ul {
    display: flex;
    list-style: none; 
    margin: 0; 
    padding: 0; 
}

nav li {
    padding-right: 1.5625rem;
}

nav a {
    line-height: 1.5625rem;
    font-family: 'Poppins';
    font-size: 1rem;
    color: #EAE6DB;
    overflow-x: hidden;
    text-decoration: none;
}

/* Hero Section */

.hero-section {
    display: flex;
    margin-top: -5.25rem;
    height: 60rem;
    width: 100%;
    background-image: url(.//Pictures/Hero\ section\ background.png);
    justify-content: flex-start;
    align-items: center;

}

.text-box {
    display: flex;
    flex-direction: column;
    margin-left: 8.75rem;
    width: 825px;
}

.hero-section h1, p {
    color: #EAE6DB;
}

.hero-section h1 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 7.5rem;
    line-height: 8rem;
}

.hero-section p {
    line-height: 1.5625rem;
    width: 500px;
}

.hero-section button {
    line-height: 1.5625rem;
    margin-top: 3.125rem;
    background-color: #EAE6DB;
    color: #41330C ;
    border-radius: 5px;
    border-color: transparent;
    width: 200px;
    height: 60px;
}